/**
 * Add styling here for the imbedded form
 */

iframe.cko-iframe.cko-embedded {
  position: relative !important;
}

input.cko-disabled {
  background: grey !important;
}

#pay-now-button:disabled {
  background: #aaa;
  text-shadow: 0 1px 1px #888;
  cursor: auto;
}

.hidden {
  display: none;
}

#cko-paymentpopup {
  position: fixed;
  width: 250px;
  margin: 0;
  background: white;
}

#cko-paymentpopup .button-row {
  padding-top: 12px;
  float: right;
}

#cko-paymentpopup>a {
  float: right;
}

#cko-paymentpopup>p {
  float: left;
}

#cko-paymentpopup td {
  padding: 0;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  padding: 0 2px;
  margin: 0 10px 0 -5px;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 200%;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.cko-warning {
  color: #b11717;
}

.cko-logo {
  height: 1em;
  width: 1.2em;
  display: inline-block;
  background-size: .9em;
  background-image: url("http://checkoutdev.coeman.me/sites/all/modules/uc_checkoutpaymentplan/includes/images/checkoutcom_logo.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}