/**
 * Add styling here for the imbedded form
 */

iframe.cko-iframe.cko-embedded {
  position: relative !important;
}

input.cko-disabled {
  background: grey !important;
}

#pay-now-button:disabled {
  background: #aaa;
  text-shadow: 0 1px 1px #888;
  cursor: auto;
}